
$myButton:#53C0C4;
$breakpoint-md: 1023px;
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    background-color: #1C2230;
}

/***MENU**/

header {
    img {
        margin: 10px;
        &.img{
            max-width: 11%;
            height: auto;
        }
        
    }
    .col-6 {
        .d-flex {
            a {
                color: white;
                margin-top: 20px;
            }
        }
    }
        
}

/**BANNER**/

.banner {
    text-align: center;
    .img {
       img {
              width: 100%;
        }
     }
    
    
}

.boton {

    button{
        background-color:#53C0C4 ;
        padding: 10px 90px;
        border-radius:30px;
        

    }

}
/**SERVICES**/
/*MOBILE SERVICES*/
div.services-container{
    div.row{
        div.services{
            h5 {
                background-color: #181F2B;
                margin-top: 6vw;
                text-align: center;
            }
            p{
                background-color: #181F2B;
                margin-top: 2vw;
                text-align: center;
            }
            background-color: #181F2B;
            margin-top: 10vw;
            margin-bottom: 10vw;

        }
        background-color: #181F2B;
    }
    background-color: #181F2B;
    margin-top: 30vw;
    margin-bottom: 20vw;
}
/*END MOBILE SERVICES*/
/**DESKTOP SERVICES**/
@media (min-width: 1023px)  { 
    //@content; 
    div.services-container{
        div.row{
            div.services{
                h5 {
                    margin-top: 2vw;
                    text-align: center;
                }
                p{
                    margin-top: 1vw;
                    text-align: center;
                }
                margin-top: 0vw;
                margin-left: 5vw;
                margin-right: 5vw;
                margin-bottom: 5vw;
    
            }
            padding-left: 5vw;
            padding-right: 5vw;

            margin-top: 0vw;
            margin-left: 0vw;
            margin-right: 0vw;
            margin-bottom: 0vw;
            
        }
        margin-top: 0vw;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
    }

}

/**END DESKTOP SERVICES**/
/**END SERVICES**/

/*INFO*/

/*MOBILE*/
div.info{
    background-color: #181F2B;
    div.my-auto{
        background-color: #181F2B;
        h5{
            background-color: #181F2B;
            margin-top: 10vw;
            margin-bottom: 5vw;
        }
        div.ref{
            a{

                color: #62E0D9;
                border-bottom-style: solid;
                border-bottom-width: thin;
                padding-bottom:5px;
            }
            margin-top: 3vw; 
        }      
    }
    .img-responsive{
        height: 60vw;
    
    }
}
/** END MOBILE INFO**/
/*DESKTOP INFO*/

@media (min-width: 1023px)  { 
    div.info{
        div.my-auto{
            h5{
                margin-top: 10vw;
                margin-bottom: 2vw;
                font-size: xx-large;
                padding-right: 15vw;
            }
            div.ref{
                a{
                    color: #62E0D9;
                    border-bottom-style: solid;
                    border-bottom-width: thin;
                    padding-bottom:5px;
                }
                margin-top: 3vw;
            }      
        }
        .img-responsive{
            height: 30vw;
        
        }
    }
}


/*END INFO*/