
$myButton:#53C0C4;
$breakpoint-md: 1023px;
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    background-color: #1C2230;
}

/***MENU**/

header {
    img {
        margin: 10px;
        &.img{
            max-width: 11%;
            height: auto;
        }
        
    }
    .col-6 {
        &.text{
            font-size: 10px;

        }
            .d-flex {
                a {
                    color: white;
                    margin-top: 20px;
                }
            }
    }
        
}

/**BANNER**/

.banner {
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 600px;
    text-align: center;
    .img {
       img {
              width: 100%;
        }
    }
    .boton {

        button{
            background-color:#53C0C4 ;
            padding: 10px 90px;
            border-radius:30px;
            
    
        }
    
    } 
     
    
    
}


/**SERVICES**/
/*MOBILE SERVICES*/
div.services-container{
    div.row{
        div.services{
            h5 {
                background-color: #181F2B;
                margin-top: 6vw;
                text-align: center;
            }
            p{
                background-color: #181F2B;
                margin-top: 2vw;
                text-align: center;
            }
            background-color: #181F2B;
            margin-top: 10vw;
            margin-bottom: 10vw;

        }
        background-color: #181F2B;
    }
    background-color: #181F2B;
    margin-top: 30vw;
    margin-bottom: 20vw;
}
/*END MOBILE SERVICES*/
/**DESKTOP SERVICES**/


/**END DESKTOP SERVICES**/
/**END SERVICES**/

/*INFO*/

/*MOBILE*/
div.info{
    background-color: #181F2B;
    div.my-auto{
        background-color: #181F2B;
        h5{
            background-color: #181F2B;
            margin-top: 10vw;
            margin-bottom: 5vw;
        }
        div.ref{
            a{

                color: #62E0D9;
                border-bottom-style: solid;
                border-bottom-width: thin;
                padding-bottom:5px;
            }
            margin-top: 3vw; 
        }      
    }
    .img-responsive{
        height: 60vw;
    
    }
}
/** END MOBILE INFO**/


/*END INFO*/

/*FOOTER*/

.footer {
    background-color: #121b29;

    .container {
        .row {
            .logo-loc {
                padding-bottom: 40px;
                    img {
                    }    
            
              
            }
            .locacion {
            }

            .contactos {
                padding-bottom: 40px;
                .row {
                    padding-bottom: 15px;
                    .iconos {
                        padding: 0 20px 10px 14px;
                        img{

                        }
                    }
                    .link {
                        a {
                            color:white
                        }
                    }
                }
               
            }
            .links {
                padding-bottom: 40px;

                .row {
                    .col-12 {
                        ul {
                            list-style: none;
                            padding-left: 0;
                            li{
                                a {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .redes {
                text-align: center;
                padding-bottom: 20px;
                a {
                    color: white;
                    border: 1px solid whitesmoke;
                    padding: 10px 12px;
                    border-radius: 20px;
                    margin-right: 3px;
                }
            }

        }
       
    }
}

@media (min-width: 1023px)  { 

    /**HEADER**/
    .fondo {
        background-image: url(../images/bg-curvy-desktop.svg);
        background-position: 50% 122%;
        background-size: 1300px;
        background-repeat: no-repeat;
        
        header {
                 margin: 10px;
            &.img{
                max-width: 11%;
                height: auto;
            }
            .col-6 {
                &.text{
                    font-size: 20px;
        
                }
                    .d-flex {
                        a {
                            color: white;
                            margin-top: 20px;
                        }
                    }
            }
        
        }
       
                
        
    }
       

    /**BANNER**/
    .banner {
        text-align: center;
        padding-bottom: 100px;
        .img {
           img {
                  width: 50%;
            }
        }
          
    }
    /**DESKTOP SERVICES**/

    div.services-container{
        div.row{
            div.services{
                h5 {
                    margin-top: 2vw;
                    text-align: center;
                }
                p{
                    margin-top: 1vw;
                    text-align: center;
                }
                margin-top: 0vw;
                margin-left: 5vw;
                margin-right: 5vw;
                margin-bottom: 5vw;
    
            }
            padding-left: 5vw;
            padding-right: 5vw;

            margin-top: 0vw;
            margin-left: 0vw;
            margin-right: 0vw;
            margin-bottom: 0vw;
            
        }
        margin-top: 0vw;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-bottom: 0vw;
    }

    /*DESKTOP INFO*/

    div.info{
        div.my-auto{
            h5{
                margin-top: 10vw;
                margin-bottom: 2vw;
                font-size: xx-large;
                padding-right: 15vw;
            }
            div.ref{
                a{
                    color: #62E0D9;
                    border-bottom-style: solid;
                    border-bottom-width: thin;
                    padding-bottom:5px;
                }
                margin-top: 3vw;
            }      
        }
        .img-responsive{
            height: 30vw;
        
        }
    }

    /**FOOTER**/

    .footer {
        padding: 50px 0;
        background-color: #121b29;
    
        .container {
            .row {
                font-size: 12px;
                .logo-loc {
                    padding-bottom: 20px;
                        img {
                            width: 120px;
                        }    
                
                  
                }
                .locacion {
                    flex-wrap: unset;
                }
    
                .contactos {
                    padding-bottom: 0px;
                    padding-top: 60px;
                    .row {
                        padding-bottom: 5px;
                        .iconos {
                            padding: 0 20px 10px 14px;
                            img{
    
                            }
                        }
                        .link {
                            a {
                                color:white
                            }
                        }
                    }
                   
                }
                .links {
                    padding-bottom: 0px;
                    padding-top: 55px;
    
                    .row {
                        .col-12 {
                            ul {
                                list-style: none;
                                padding-left: 0;
                                li{
                                    a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
    
                .redes {
                    text-align: center;
                    padding-bottom: 0px;
                    padding-top: 55px;
                    a {
                        color: white;
                        border: 1px solid whitesmoke;
                        padding: 10px 12px;
                        border-radius: 20px;
                        margin-right: 3px;
                    }
                }
    
            }
           
        }
    }
}